{% extends 'heal/base.html' %} 

{% block content %} 

{% if form.errors %}
  <p class="login">Your username and password do not match. Please try again.</p>
{% endif %}

{% if next %}
  <p class="login">Please login to see this page.</p>
{% endif %}

<form class="login" method="post" action="{% url 'login' %}">
  {% csrf_token %} {{form.as_p}}

  <input class="login button" type="submit" value="Login" />
  <input class="login" type="hidden" name="next" value="{{ next }}" />
</form>

<p class="login">If your are Don't have account please <a class="login" href="{% url 'signup' %}">Signup</a></p>


{% endblock %}