{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Heal{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/heal.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
</head>
<body>
  <header>
    <nav class="top-nav">
      <a href="{% url 'insuranceproducts_view' %}">Home</a>
      <div class="dropdown" class="top-nav" >
        User
        <div  class="dropdown-content">
          
          {% if user.is_authenticated %} Welcome, <a href="{% url 'user_detail' pk=user.pk %}">{{ user.username }}</a>
          <a href="{% url 'logout' %}" >Log out</a>
          {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Signup</a>
          
        </div>
        {% endif %}
      </div>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>Copyright © {{ year }}</p>
  </footer>
</body>
</html>