{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Default Title{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/heal.css' %}">
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'insuranceproducts_view' %}">Home</a>
      <a href="">About</a>
      <a href="">Contact</a>
    </nav>
    <div class="user-info">
      {% if user.is_authenticated %} Welcome, <a href="{% url 'user_detail' pk=user.pk %}">{{ user.name }}</a>{{ user.username }}
      <a href="{% url 'logout' %}">Log out</a>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'signup' %}">Signup</a>
      {% endif %}
    </div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>Copyright © {{ year }}</p>
  </footer>
</body>
</html>