{% extends 'heal/base.html' %}

{% block content %}

<h2 class="product">Product </h2>

<ul class="product">
  {% for insuranceproduct in insuranceproducts %}
  <li class="product">
    <a href="{% url 'product_detail' pk=insuranceproduct.pk %}">
    <div class="product-photo" >
      <img src="{{ insuranceproduct.photo_url }}" alt="" class="product"/>
    </div class="product">
    {{ insuranceproduct.product_name }}</a>
  </li>
  {% endfor %}
</ul>

<!-- Three.js canvas -->
<canvas id="myCanvas"></canvas>



{% endblock %}