{% extends 'heal/base.html' %} 

{% block content %}

<h1>Product detail</h1>
{% comment %} <img id="product-detail-header" src="{{ product.photo_url }}" alt="{{ product.product_name }}" /> {% endcomment %}
<p class="product-detail">Product name: {{ product.product_name }}</p>
<p class="product-detail">Product Detail: {{ product.coverage }}</p>
<p class="product-detail">Price: {{ product.price }} Bath</p>
{% if user.is_authenticated %}
<p class="product-detail">
  <a href="{% url 'product_buy' product_id=product.pk %}">Buy</a>
</p>
{% else %}
<p class="product-detail">Please log in to buy the product
  <a href="{% url 'login' %}">Login</a>
</p>
{% endif %}
{% endblock %}
