{% extends 'heal/base.html' %}

{% block content %}

<h4 class= "user-detail">{{ user.name }} <a  class= "user-detail" href="{% url 'user_update' pk=user.pk %}" >(edit)</a></h4>
<h4 class= "user-detail">Email: {{ user.email }}</h4>
<h4 class= "user-detail">First Name: {{ user.first_name }}</h4>
<h4 class= "user-detail">Last Name: {{ user.last_name }}</h4>
<h4 class= "user-detail"class= "user-detail" >Identity: {{ user.user_Identity }}</h4>

<h4 class= "user-detail" >Accounts</h4>
<ul class= "user-detail" >
  {% for account in user.accounts.all %}
  <li class= "user-detail">
    <a class= "user-detail" href="{% url 'account_detail' pk=account.pk %}">{{ account.account_name}}, {{ account.account_number}}</a>
    <a class= "user-detail" href="{% url 'account_delete' pk=account.pk %}">DELETE</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}