{% extends 'heal/base.html' %}

{% block content %}

<h2>{{ user.name }} <a href="">(edit)</a></h2>
<h4>Email: {{ user.email }}</h4>
<h4>First Name: {{ user.first_name }}</h4>
<h4>Last Name: {{ user.last_name }}</h4>
<h4>Identity: {{ user.user_Identity }}</h4>

<h4>Accounts</h4>
<ul>
  {% for account in user.accounts.all %}
  <li>
    <a href="{% url 'account_detail' pk=account.pk %}">{{ account.account_name}}, {{ account.account_number}}</a>
    <a href="{% url 'account_delete' pk=account.pk %}">DELETE</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}